@model Biblioteca.Models.GerenciamentoAcervoModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GerenciamentoAcervoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataRetirada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataRetirada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataDevolucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDevolucao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.saida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saida)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.observacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.observacao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
